<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/b6bb60bd-2a26-4c49-af52-542ecaf75e1f/v3/index.json" />
  </packageSources>
</configuration>