@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Terminology.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Terminology.Web.Pages.Terminology.Terms
@using Terminology.Terms;
@using System.Globalization
@inject IHtmlLocalizer<TerminologyResource> L
@model CreateModalModel
@{
    Layout = null;
}


<form data-ajaxForm="true" asp-page="/Terminology/Terms/CreateModal" autocomplete="off">
    <abp-modal id="TermCreateModal">
        <abp-modal-header title="@L["NewTerm"].Value"></abp-modal-header>

        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
                
                    
                    

            <abp-input asp-for="Term.Name"    />


            <abp-input asp-for="Term.Description" text-area   />

                    
                
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>
